<table class="table">
    <tr>
        <td width="64"><img src="{{ user.avatar(64) }}"></td>
        <td>
            <p><a href="{{ url_for('main.user',username=user.username) }}">{{ user.username }}</a></p>
            <small>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                    <p>Last Seen:{{ moment(user.last_seen).fromNow() }}</p>
                {% endif %}
                <p>followers:{{ user.followers.count() }} following:{{ user.followed.count() }}</p>
                {% if user!=current_user %}
                    {% if current_user.is_following(user) %}
                        <p>
                            <form action="{{ url_for('main.unfollow',username=user.username) }}" method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Unfollow',class='btn btn-default btm-sm') }}
                            </form>
                        </p>
                    {% elif not current_user.is_following(user) %}
                        <p>
                            <form action="{{ url_for('main.follow',username=user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Follow',class='btn btn-default btm-sm') }}
                            </form>
                        </p>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>
